
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="hero-wrap " style="background-image: url('/Content/images/banner3.png'); height: 800px !important ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
               
            </div>
        </div>
    </div>
</div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-start mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <h2 class="mb-4">List of latest events</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in ViewBag.List)
            {
            <div class="col-md-4">
                <div class="destination">
                    <a href="/PublicHome/DetailEvent/@item.idEvent">
                        <img style="width: 100%;height:300px; object-fit: cover;" class="img img-2 d-flex justify-content-center align-items-center" src="/Content/images/@item.image">

                    </a>
                    <div class="text p-3">
                        <div class="d-flex">
                            <div class="one">
                                <h3><a href="/PublicHome/DetailEvent/@item.idEvent">@item.name</a></h3>
                            </div>

                        </div>
                        <p class="days">Category : <span>@item.Category.name</span></p>
                        <hr>
                        <p class="bottom-area d-flex">
                            <span>Organization date : @String.Format("{0:dd-MM-yyyy}", item.date)</span>
                            <span class="ml-auto"><a href="/PublicHome/DetailEvent/@item.idEvent">View</a></span>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>


