<div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Carpe Diem &copy; By Ky Vuong</div>
        <div>
            <a href="#">Facebook</a>
            &middot;
            <a href="#"> Intagram</a>
        </div>
    </div>
</div>




