
<div id="layoutSidenav_nav">
    @*   @{ var userInfomatiom = (QuanLyChamCong.Models.User)Session["USER"]; }*@
    <nav style="background-color: #4CACBC !important " class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav" style="margin-top: 30px">
                <a class="nav-link collapsed" href="/AdminHome/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Dashboard
                </a>
                <a class="nav-link collapsed" href="/AdminHome/StatisHome" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                    Statistical
                </a>
                <a class="nav-link collapsed" href="/AdminEvent/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold ">
                    <div class="sb-nav-link-icon"><i class="fas fa-calendar"></i></div>
                    Event
                </a>
                <a class="nav-link collapsed" href="/AdminUser/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Account Student
                </a>
                <a class="nav-link collapsed" href="/AdminCategory/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-atlas"></i></div>
                    Category
                </a>
                <a class="nav-link collapsed" href="/AdminGuest/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-baby"></i></div>
                    Guest
                </a>
                <a class="nav-link collapsed" href="/AdminOrgansier/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-allergies"></i></div>
                    Organiser
                </a>
                <a class="nav-link collapsed" href="/AdminCooperative/Index" style="color: whitesmoke !important; font-size: 20px; font-weight: bold">
                    <div class="sb-nav-link-icon"><i class="fas fa-archive"></i></div>
                    Cooperative
                </a>
            </div>
        </div>
    </nav>
</div>



