
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="hero-wrap" style="background-image: url('/Content/images/banner1.jpeg'); height: 800px !important">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
            <div class="col-md-9 ">
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"></p>
            </div>
        </div>
    </div>
</div>

    <div class="container" style="position: absolute; margin-top: -650px; margin-left: 230px">
        <div class="row" style="margin-bottom:20px">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <h2 class="mb-4" style="color: white">Welcome Back!</h2>
                
                <form action="/PublicAuthentication/Login" method="post" class="p-4 border rounded" style=" background-color: rgba(245,245,245,0.85)">

                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Username</label>
                            <input type="text" id="fname" name="userName" class="form-control" required>
                        </div>
                    </div>
                    <div class="row form-group mb-4">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Password</label>
                            <input type="password" id="fname" name="password" class="form-control" required>
                        </div>
                    </div>

                    <p style="color: red; font-size: 120%">@ViewBag.mess</p>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Login" class="btn btn-block btn-primary btn-md">
                        </div>

                    </div>

                </form>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>


